{% extends '../master/_baseAside.swig' %}

{% block interiorHeader %}
  <h1 class="interiorHeader_title">Request a pack</h1>

  <p class="interiorHeader_text">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
{% endblock %}

{% block striplineContainer %}
  <section class="stripline">
    <div class="row row-flex">
      <div class="large-3 columns">
        <label>Filter categories</label>
      </div>

      <div class="large-4 columns end">
        <select>
          <option value="">All categories</option>
        </select>
      </div>
    </div>
  </section>
{% endblock %}

{% block content %}
  <section class="section">
    <h3>Category one</h3>

    <p>It couldn’t be easier. When we send you an offer, you choose from. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

    <ul class="list list-cards isSmall">
      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Pocket watches</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Old coins</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Costume jewelry</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Rings</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Gold</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Grandfather clocks</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Pocket watches</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Old coins</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Costume jewelery</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Rings</p>
          </div>
        </a>
      </li>
    </ul>
  </section>

  <section class="section">
    <h3>Category two</h3>

    <p>It couldn’t be easier. When we send you an offer, you choose from. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

    <ul class="list list-cards isSmall">
      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Pocket watches</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Old coins</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Costume jewelry</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Rings</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Gold</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Grandfather clocks</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Pocket watches</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Old coins</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Costume jewelery</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Rings</p>
          </div>
        </a>
      </li>
    </ul>
  </section>

  <section class="section">
    <h3>Category three</h3>

    <p>It couldn’t be easier. When we send you an offer, you choose from. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

    <ul class="list list-cards isSmall">
      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Pocket watches</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Old coins</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Costume jewelry</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Rings</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Gold</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Grandfather clocks</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Pocket watches</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Old coins</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Costume jewelery</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Rings</p>
          </div>
        </a>
      </li>
    </ul>
  </section>

  <section class="section">
    <h3>Category four</h3>

    <p>It couldn’t be easier. When we send you an offer, you choose from. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

    <ul class="list list-cards isSmall">
      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Pocket watches</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Old coins</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Costume jewelry</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Rings</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Gold</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Grandfather clocks</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Pocket watches</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Old coins</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Costume jewelery</p>
          </div>
        </a>
      </li>

      <li class="list_item">
        <a class="card card-small card-borderless" href="#">
          <div class="card_imageContainer">
            <img src="http://lorempixel.com/130/75" alt="">
          </div>

          <div class="card_text">
            <p>Rings</p>
          </div>
        </a>
      </li>
    </ul>
  </section>
{% endblock %}

{% block aside %}
  {% include '../sidebar/_didYouKnow.swig' %}

  {% include '../sidebar/_helpCentre.swig' %}
{% endblock %}
