{% extends '../master/_baseAside.swig' %}

{% block interiorHeader %}
  <h1 class="interiorHeader_title">Contact us</h1>

  <p class="interiorHeader_text">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo.</p>
{% endblock %}

{% block content %}
  <section>
    <h3>Top 5 frequently asked questions</h3>

    <ul class="list list-accordion">
      <li class="list_item">
        <a href="#">
          <h5 class="item_title">Can i send in larger items?</h5>

          <p class="item_text">Donec id elit non mi porta gravidaa at eget metus. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        </a>
      </li>

      <li class="list_item">
        <a href="#">
          <h5 class="item_title">How long will it take to receive my pack?</h5>

          <p class="item_text">Donec id elit non mi porta gravidaa at eget metus. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        </a>
      </li>

      <li class="list_item">
        <a href="#">
          <h5 class="item_title">What happens to my items?</h5>

          <p class="item_text">Donec id elit non mi porta gravidaa at eget metus. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        </a>
      </li>

      <li class="list_item">
        <a href="#">
          <h5 class="item_title">How long does it take to receive an offer?</h5>

          <p class="item_text">Donec id elit non mi porta gravidaa at eget metus. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        </a>
      </li>

      <li class="list_item">
        <a href="#">
          <h5 class="item_title">Do I pay for postage when sending my item(s)?</h5>

          <p class="item_text">Donec id elit non mi porta gravidaa at eget metus. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        </a>
      </li>
    </ul>
  </section>

  <section>
    <h3>Top 5 frequently asked questions</h3>

    <ul class="list list-accordion">
      <li class="list_item">
        <a href="#">
          <h5 class="item_title">Can i send in larger items?</h5>

          <p class="item_text">Donec id elit non mi porta gravidaa at eget metus. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        </a>
      </li>

      <li class="list_item">
        <a href="#">
          <h5 class="item_title">How long will it take to receive my pack?</h5>

          <p class="item_text">Donec id elit non mi porta gravidaa at eget metus. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        </a>
      </li>

      <li class="list_item">
        <a href="#">
          <h5 class="item_title">What happens to my items?</h5>

          <p class="item_text">Donec id elit non mi porta gravidaa at eget metus. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        </a>
      </li>

      <li class="list_item">
        <a href="#">
          <h5 class="item_title">How long does it take to receive an offer?</h5>

          <p class="item_text">Donec id elit non mi porta gravidaa at eget metus. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        </a>
      </li>

      <li class="list_item">
        <a href="#">
          <h5 class="item_title">Do I pay for postage when sending my item(s)?</h5>

          <p class="item_text">Donec id elit non mi porta gravidaa at eget metus. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        </a>
      </li>
    </ul>
  </section>
{% endblock %}

{% block aside %}
  {% include '../sidebar/_contact.swig' %}

  {% include '../sidebar/_didYouKnow.swig' %}

  {% include '../sidebar/_helpCentre.swig' %}
{% endblock %}
