/*****************************************************************************/
/* Base */
/*****************************************************************************/
body {
  position: relative;
}

.interiorHeader + .siteContainer,
.stripline + .siteContainer {
  margin-top: 90px;
  margin-bottom: 90px;

  @include breakpoint-lte(medium) {
    margin-top: 45px;
    margin-bottom: 45px;
  }
}

.row-flex {
  display: flex;
}

.content .list-cards {
  margin-top: 40px;
}
