/*****************************************************************************/
/* Base */
/*****************************************************************************/
.data {
  align-items: center;
  flex-flow: row wrap;

  display: flex;

  @include breakpoint-lte(medium) {
    flex-direction: column;
  }
}
  .data .object {
    flex: 1 20%;
    font-size: 56px;
  }

  .data .label {
    flex: 1 80%;

    font-size: 18px;
  }
