/*****************************************************************************/
/* Base */
/*****************************************************************************/
// Inputs have a bottom margin of 24.
.form .button,
.form .form_group-inline {
  margin-bottom: 24px;
}

.form .button-large {
  margin-top: 0;
}

.form .row-flex {
  @include breakpoint-lte(medium) {
    flex-direction: column;
  }
}
  .form .row-flex .row {
    @include breakpoint-lte(medium) {
      margin-right: 0;
      margin-left: 0;
      width: 100%;

      .columns {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

.form input[type='submit'] {
  margin-bottom: 0;
}

// Some form groups don't have labels and inputs so align that content to the bottom
.row-flex > .columns {
  display: flex;
  align-items: flex-end;
}
  .row-flex .form_group {
    width: 100%;
  }

/*****************************************************************************/
/* Fieldset */
/*****************************************************************************/
fieldset {
  @include breakpoint-lte(medium) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
  fieldset legend {
    margin-bottom: 20px;
    margin-left: 0;

    font-size: 20px;

    color: $main-dark;
  }

/*****************************************************************************/
/* Inputs */
/*****************************************************************************/
// Commented this out because of contact/index.swig
//input[type='submit'] {
//  margin-top: 20px;
//  margin-bottom: 20px;
//}

@include form-inline-inputs() {
  + label {
    font-weight: $font-weight-normal;
  }
}

label {
  color: $main-dark;

  @include form-text-inputs() {
    font-size: 18px;

    margin-top: 5px;
  };
}
  label select {
    margin-top: 5px;
  }

select {
  font-size: 18px;
  font-weight: 700;

  background-color: #fff;
}

textarea {
  height: 200px;
}

/***********
/* Errors */
/**********/
.form_group.error {
  color: $red-dark;
}
  .form_group.error label {
    color: inherit;
  }

  .form_group.error input,
  .form_group.error textarea,
  .form_group.error select {
    margin-bottom: 20px;
  }

/***********
/* Icons */
/**********/
.input.hasIcon {
  position: relative;
}

input + .icon {
  position: absolute;
  top: 50%;
  right: 25px;

  display: inline-block;
  height: 13px;
  width: 13px;

  transform: translateY(-50%);
}
  // - Error
  input + .icon-error {
    background-image: url('/assets/img/form-error.png');
  }

  // - Success
  input + .icon-success {
    height: 14px;
    width: 14px;

    background-image: url('/assets/img/form-success.png');
  }

/*****************************************************************************/
/* Form group */
/*****************************************************************************/
.form_group.noLabel {
}

/*****************************************************************************/
/* Inline form group */
/*****************************************************************************/
.form_group-inline .inline_group {
  display: flex;
  align-items: baseline;

  + .inline_group {
    margin-top: 10px;
  }
}
  .form_group-inline .inline_group input[type='checkbox'] {
    flex: 0 1 30px;
    margin: 0;
  }

  .form_group-inline .inline_group label {
    margin: 0;
  }

.form_group-inline > label {
  margin-bottom: 5px;
}

.form_group-inline .inline_group.inline-selects {
  justify-content: space-between;
}
  .form_group-inline .inline_group.inline-selects > * {
    flex: 0 1 30%;
  }


.row-flex .form_group-inline {
  margin-bottom: 0;
}
