/*****************************************************************************/
/* Base */
/*****************************************************************************/
.list {
  margin: 0;

  list-style: none;
}

/*****************************************************************************/
/* Accordion */
/*****************************************************************************/
.list-accordion {
  margin-bottom: 50px;
}
  .list-accordion .list_item {
    border-bottom: 1px solid #e0e0e0;
  }

  .list-accordion .item_title {
    margin-bottom: 0;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .list-accordion .item_text {
    display: none;
  }

/*****************************************************************************/
/* Cards */
/*****************************************************************************/
.list-cards {
  display: flex;
  flex-flow: row wrap;

  margin-right: -$column-gutter/2;
  margin-left: -$column-gutter/2;

  &.isSmall {
    align-items: flex-start;
    justify-content: flex-start;
  }
    &.isSmall .list_item {
      flex: 1 12.5%;

      margin-bottom: 20px;
      max-width: 12.5%;

      @include breakpoint-lte(medium) {
        flex: 1 33.33%;

        max-width: 33.33%;
      }
    }

    .content &.isSmall .list_item {
      flex: 1 16.66%;

      max-width: 16.66%;

      @include breakpoint-lte(medium) {
        flex: 1 100%;

        max-width: 100%;
      }
    }

  &.hasSteps {}
    &.hasSteps .list_item {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        right: -15px;
        top: 40px;

        height: 14px;
        width: 31px;

        background-image: url('/assets/img/arrow.png');
        background-repeat: no-repeat;

        @include breakpoint-lte(medium) {
          display: none;
        }
      }

      &:last-child:before {
        background-image: none;
      }
    }
}
  .list-cards .list_item {
    display: flex;
    justify-content: center;
    flex: 1 25%;

    padding-right: $column-gutter/2;
    padding-left: $column-gutter/2;

    @include breakpoint-lte(medium) {
      flex: 1 100%;

      margin-bottom: 32px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

/*****************************************************************************/
/* Circles */
/*****************************************************************************/
.list-circles {}
  .list-circles .list_item {
    display: flex;
    margin-bottom: 30px;
    padding-top: 50px + 30px;

    @include breakpoint-lte(medium) {
      flex-direction: column;

      text-align: center;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &:first-of-type {
      padding-top: 50px;
    }

    &:nth-child(even) {
      .item_aside {
        order: 1;
      }

      .item_content {
        order: 2;
      }
    }

    &.isSpecial .item_content {
      align-items: center;
      justify-content: center;

      display: flex;
    }

    &.isSpecial .item_aside {
      @include breakpoint-lte(medium) {
        margin-bottom: 30px;
      }
    }

    &.isSpecial .placeholder-circle {
      margin-top: 0;
    }
  }
    .list-circles .item_content,
    .list-circles .item_aside {
      width: 50%;

      @include breakpoint-lte(medium) {
        width: 100%;
      }
    }

    .list-circles .item_content {
      @include breakpoint-lte(medium) {
        order: 2;
      }
    }

    .list-circles .item_aside {
      display: flex;

      @include breakpoint-lte(medium) {
        order: 1;

        margin-bottom: 20px;
      }
    }

    .list-circles .item_icon {
      align-items: center;
      justify-content: center;

      display: flex;
      height: 48px;
      margin-bottom: 15px;
      width: 48px;

      font-size: 26px;

      border: 3px solid $red-dark;
      border-radius: 50%;
      color: $red-dark;

      @include breakpoint-lte(medium) {
        display: none;
      }
    }

    .list-circles .item_special {
      font-size: 26px;
      font-weight: 400;
      line-height: 32px;

      color: $red-dark;
    }

    .list-circles .placeholder-circle {
      margin-top: -50px;
      margin-right: auto;
      margin-left: auto;
    }

/**************
/* Modifiers */
/*************/
.list-circles.hasIcons {}
  .list-circles.hasIcons .fa {
    font-size: 12em;

    color: $red-dark;

    @include breakpoint-lte(medium) {
      font-size: 4em;
    }
  }

  .list-circles.hasIcons .item_aside {
    align-items: center;
    justify-content: center;
  }


/*****************************************************************************/
/* Inline */
/*****************************************************************************/
.list-inline {
  display: inline-flex;
}
