/*****************************************************************************/
/* Components */
/*****************************************************************************/
.placeholder-circle {
  height: 284px;
  width: 284px;

  background-color: #f6f6f6;
  border-radius: 50%;

  &.placeholder-large {
    height: 356px;
    width: 356px;
  }
}
