$small-range: (0em, 40em) !default;
$medium-range: (40.063em, 64em) !default;
$large-range: (64.063em, 90em) !default;
$xlarge-range: (90.063em, 120em) !default;
$xxlarge-range: (120.063em, 99999999em) !default;

// The sizes the media queries mixin can accept
$sizes: small, medium, large, xlarge, xxlarge;

@function contains($list, $item) {
  @if index($list, $item) {
    @return true;
  } @else {
    @return false;
  }
}

@mixin breakpoint($size) {
  @if contains($sizes, $size) {
    @if $size == small {
      @media only screen and (min-width: #{lower-bound($small-range)}) and (max-width: #{upper-bound($small-range)}) {
        @content;
      }
    } @else if $size == medium {
      @media only screen and (min-width: #{lower-bound($medium-range)}) and (max-width: #{upper-bound($medium-range)}) {
        @content;
      }
    } @else if $size == large {
      @media only screen and (min-width: #{lower-bound($large-range)}) and (max-width: #{upper-bound($large-range)}) {
        @content;
      }
    } @else if $size == xlarge {
      @media only screen and (min-width: #{lower-bound($xlarge-range)}) and (max-width: #{upper-bound($xlarge-range)}) {
        @content;
      }
    } @else if $size == xxlarge {
      @media only screen and (min-width: #{lower-bound($xxlarge-range)}) and (max-width: #{upper-bound($xxlarge-range)}) {
        @content;
      }
    }
  } @else {
    @error 'Argument must be any of: #{$sizes}';
  }
}

@mixin breakpoint-lte($size) {
  @if contains($sizes, $size) {
    @if $size == small {
      @media only screen and (max-width: #{upper-bound($small-range)}) {
        @content;
      }
    } @else if $size == medium {
      @media only screen and (max-width: #{upper-bound($medium-range)}) {
        @content;
      }
    } @else if $size == large {
      @media only screen and (max-width: #{upper-bound($large-range)}) {
        @content;
      }
    } @else if $size == xlarge {
      @media only screen and (max-width: #{upper-bound($xlarge-range)}) {
        @content;
      }
    } @else if $size == xxlarge {
      @media only screen and (max-width: #{upper-bound($xxlarge-range)}) {
        @content;
      }
    }
  } @else {
    @error 'Argument must be any of: #{$sizes}';
  }
}

@mixin breakpoint-gte($size) {
  @if contains($sizes, $size) {
    @if $size == small {
      @media only screen and (min-width: #{lower-bound($small-range)}) {
        @content;
      }
    } @else if $size == medium {
      @media only screen and (min-width: #{lower-bound($medium-range)}) {
        @content;
      }
    } @else if $size == large {
      @media only screen and (min-width: #{lower-bound($large-range)}) {
        @content;
      }
    } @else if $size == xlarge {
      @media only screen and (min-width: #{lower-bound($xlarge-range)}) {
        @content;
      }
    } @else if $size == xxlarge {
      @media only screen and (min-width: #{lower-bound($xxlarge-range)}) {
        @content;
      }
    }
  } @else {
    @error 'Argument must be any of: #{$sizes}';
  }
}

.hideForMobile {
  @include breakpoint-lte(small) {
    display: none !important;
  }
}

.hideForDesktop {
  @include breakpoint-gte(medium) {
    display: none !important;
  }
}
