<section class="section section-testimonials">
  <div class="row">
    <div class="large-16 columns">
      <ul class="list list-cards">
        <li class="list_item">
          {% set card = {image: '/assets/img/card-1.png', person: 'Peter Mosetto'} %}
          {% include '../includes/_card.swig' with card only %}
        </li>

        <li class="list_item">
          {% set card = {image: '/assets/img/card-2.png', person: 'Ben Burgess'} %}
          {% include '../includes/_card.swig' with card only %}
        </li>

        <li class="list_item">
          {% set card = {image: '/assets/img/card-3.png', person: 'Laura Mansfield'} %}
          {% include '../includes/_card.swig' with card only %}
        </li>

        <li class="list_item">
          {% set card = {image: '/assets/img/card-4.png', person: 'John Colbin'} %}
          {% include '../includes/_card.swig' with card only %}
        </li>
      </ul>

      <div class="section_link">
        <a href="#" class="button button-secondary">View more testimonials on TrustPilot</a>
      </div>
    </div>
  </div>
</section>
