/*****************************************************************************/
/* Base */
/*****************************************************************************/
.card {
  max-width: 290px;
  padding: 20px;
  width: 100%;

  border: 1px solid #d1d1d1;
  border-radius: $global-radius;

  > *:last-child,
  > *:last-child *:last-child {
    margin-bottom: 0;
  }
}
  .card img {
    width: 100%;
  }

  .card .card_icon {
    margin-bottom: 20px;

    text-align: center;

    color: $red-dark;
  }

  .card .card_imageContainer {
    $card_padding: 20px;
    $card_border: 1px;

    margin: -$card_padding - $card_border;
    margin-bottom: 20px;
  }

  .card .card_link {
    color: $text-color;
  }

/*************/
/* Modifiers */
/*************/
// Borderless cards
.card.card-borderless {
  border: 0;

  &:hover {
    box-shadow: none;

    .button {
      background-color: $red-dark;
    }
  }
}

// Small cards
.list-cards.isSmall .card {
  padding: 0;

  text-align: center;
}
  .list-cards.isSmall .card .card_imageContainer {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }

  .list-cards.isSmall .card .card_text {
    padding-right: 10px;
    padding-left: 10px;

    font-weight: 700;

    color: $text-color;
  }

  .list-cards.isSmall .card .card_text p {
    margin-bottom: 0;

    font-weight: inherit;

    color: inherit;
  }

/*****************************************************************************/
/* Icons */
/*****************************************************************************/
.card-icon {
  text-align: center;

  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 0 10px rgba(#000, 0.3);

    .button {
      background-color: $red-dark;
    }
  }
}
