$list_itemPadding: 7px;

/*****************************************************************************/
/* Main header */
/*****************************************************************************/
.mainHeader {
  background-color: $teal-light;
  color: #fff;

  @include breakpoint-lte(medium) {
    height: 60px;
  }
}
  .mainHeader button,
  .menu-wrap button {
    transition: background-color 0.3s, opacity 0.3s;

    @include breakpoint-gte(large) {
      display: none;
    }

    &:hover,
    &:focus {
      background-color: transparent;
    }

    &:focus {
      outline: none;
    }
}

  .mainHeader .header_logo {
    display: block;
    height: 96px;
    width: 312px;

    background-image: url('/assets/img/logo.png');
    background-repeat: no-repeat;
    background-size: 312px 96px;

    @include breakpoint-lte(medium) {
      display: none;
    }
  }

  .mainHeader .header_nav {
    float: right;

    @include breakpoint-lte(medium) {
      display: none;
    }
  }
    // We use `a` instead of `.list_item` so the styles can apply to the button too
    .mainHeader .header_nav a {
      margin-top: 28px;
      margin-bottom: 28px;
      padding: $list_itemPadding 12px;

      font-size: 18px;
      font-weight: 400;
      line-height: 1.45;

      color: inherit;

      &.active {
        font-weight: 600;

        color: $red-dark;
      }
    }

    .mainHeader .header_nav .button {
      padding-right: 20px;
      padding-left: 20px;
    }

    .mainHeader .header_nav .list_item + .button {
      margin-left: 30px - $list_itemPadding; // 7px = .list_item padding
    }

.menu-wrap button {}
