/*****************************************************************************/
/* Base */
/*****************************************************************************/
.notification {
  display: inline-block;
  margin-bottom: 20px;
  padding: 13px 20px;

  border-radius: $global-radius;
}
  .notification p {
    margin-bottom: 0;
  }

/*****************************************************************************/
/* Error */
/*****************************************************************************/
.notification-error {
  background-color: rgba($red-dark, 0.2);
  border: 1px solid $red-dark;
  color: $red-dark;
}
  .notification-error p {
    font-weight: 700;
  }
