$section-spacing: 50px;

/*****************************************************************************/
/* Base */
/*****************************************************************************/
.section {
  position: relative;

  margin-top: $section-spacing;
  margin-bottom: $section-spacing;

  @include breakpoint-lte(medium) {
    .content & {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &.noMargin {
    margin: 0;
  }

  &.isBrand {
    background-color: $teal-dark;
    color: #fff;

    &.hasImage {
      padding-top: 90px;
      padding-bottom: 70px;

      background-image: url('/assets/img/section-cow.png');
      background-position: right 10px top 50px;
      background-repeat: no-repeat;

      @include breakpoint-lte(medium) {
        padding-top: 50px;
        padding-bottom: 50px;

        background-image: none;
      }
    }
  }
    &.isBrand .section_title {
      color: inherit;
    }

    &.isBrand .button {
      background-color: #fff;
      color: $teal-dark;

      &:hover {
        background-color: darken(#fff, 4%);
      }
    }

  .content &:first-of-type {
    margin-top: 0;
  }
}
  .section_title {
    margin-bottom: 30px;
  }

  .section_text {
    margin-bottom: 0;

    color: inherit;
  }

  .section_button {
    margin-bottom: 0;
  }

/*****************************************************************************/
/* Centered */
/*****************************************************************************/
.section-centered {
  padding-top: 75px;
  padding-bottom: 75px;

  text-align: center;

  @include breakpoint-lte(medium) {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/*****************************************************************************/
/* Circle list */
/*****************************************************************************/
.section-circlesList {
  @include breakpoint-lte(medium) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/*****************************************************************************/
/* Colored panel */
/*****************************************************************************/
.section-coloredPanel {
  margin-top: 0;
  margin-bottom: 0;

  color: #fff;

  &.isBlue {
    background-color: $blue-dark;
  }

  &.isRed {
    background-color: $red-dark;
  }
}
  .section-coloredPanel .section_text {
    margin-bottom: 70px;

    font-size: $h3-font-size;
    line-height: 32px;
    font-weight: 300;

    @include breakpoint-lte(medium) {
      margin-bottom: 40px;

      font-size: $h3-font-size - $h3-font-reduction;
    }
  }

  .section-coloredPanel .section_button {
    font-weight: 600;

    background-color: #fff;
    color: $red-dark;
  }

/*****************************************************************************/
/* Hero */
/*****************************************************************************/
$carouselControls_height: 100px;
.section-hero {
  text-align: center;

  color: #fff;
}
  .section-hero .section_imageContainer {
    position: relative;

    height: 600px;

    background-image: url('/assets/img/hero.png');
    background-repeat: no-repeat;
    background-size: cover;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background-color: rgba(#000, 0.4);
    }
  }

  .section-hero .section_content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: $carouselControls_height;
    left: 0;

    align-items: center;
    justify-content: center;

    display: flex;
  }

  .section-hero .section_title,
  .section-hero .section_subTitle {
    color: inherit;
  }

  .section-hero .section_title {
    text-transform: uppercase;
  }

  .section-hero .section_carouselControls {
    height: $carouselControls_height;

    border-bottom: 1px solid #e0e0e0;
  }
    .section-hero .section_carouselControls .list {
      display: flex;
      justify-content: center;
    }

    .section-hero .section_carouselControls .list_item {
      flex: 1 auto;

      height: 100px;
      max-width: 158px;
      width: 100%;

      @include breakpoint-lte(medium) {
        display: none;
      }

      &:first-child,
      &:last-child {
        @include breakpoint-lte(medium) {
          display: block;
        }
      }
        &:first-child a,
        &:last-child a {
          &:hover img {
            opacity: 1;

            transform: scale(1.25);
          }
        }

      &:first-child {
        max-width: initial;
      }

      &:last-child {
        max-width: initial;

        border-right: none;
      }
        &:last-child a:hover img {
          transform: rotate(180deg) scale(1.25);
        }

        &:last-child img {
          transform: rotate(180deg);
        }
    }
      .section-hero .section_carouselControls .list_item img {
        transition: opacity 0.3s, transform 0.3s;
      }

      .section-hero .section_carouselControls .list_item a {
        position: relative;

        align-items: center;
        justify-content: center;

        display: flex;
        height: $carouselControls_height;
        overflow: hidden;
        width: 100%;

        border-right: 1px solid #e0e0e0;

        &:hover .item_content {
          top: 0;
        }

        &:hover img {
          opacity: 0.5;
        }
      }

      .section-hero .section_carouselControls .list_item .item_content {
        position: absolute;
        top: 100%;
        right: 0;
        bottom: 0;
        left: 0;

        align-items: center;
        justify-content: center;

        display: flex;
        height: 100%;

        background-color: rgba($red-dark, 0.9);
        color: #fff;

        transition: top 0.3s;
      }

      .section-hero .section_carouselControls .list_item .item_text {
        margin-bottom: 0;
      }

/*****************************************************************************/
/* Items we buy */
/*****************************************************************************/
.section-itemsWeBuy {
  background-color: $main-dark;
  color: #fff;

  @include headings() {
    font-weight: 400;

    color: inherit;
  }
}
  .section-itemsWeBuy p {
    font-weight: 100;

    color: inherit;
  }

  .section-itemsWeBuy .card_text {
    font-weight: 400 !important;
    color: #fff !important;
  }

  .section-itemsWeBuy .list {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .section-itemsWeBuy .button {
    margin-bottom: 50px;

    + .button {
      margin-left: 30px;
    }
  }

  .section-itemsWeBuy .button-secondary {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: $main-dark;
    }
  }

/*****************************************************************************/
/* Split */
/*****************************************************************************/
.section-split {}
  .section-split .row {
    display: flex;

    @include breakpoint-lte(medium) {
      flex-direction: column;
    }
  }

  .section-split .columns {
    padding-top: 90px;
    padding-bottom: 90px;

    @include breakpoint-lte(medium) {
      align-items: center;
      flex-direction: column;
      justify-content: center;

      display: flex;
      padding-top: 45px;
      padding-bottom: 45px;
    }

    &:first-of-type {
      padding-right: calc(#{percentage(1/16)} + #{$column-gutter/2});
      border-right: 1px solid #e0e0e0;

      @include breakpoint-lte(medium) {
        padding-right: $column-gutter/2;
      }

      + .columns {
        padding-left: calc(#{percentage(1/16)} + #{$column-gutter/2});

        @include breakpoint-lte(medium) {
          padding-left: $column-gutter/2;

          border-top: 1px solid #e0e0e0;
          border-right: none;
        }
      }
    }
  }

  .section-split .split_object {
    display: flex;
    align-items: flex-start;
  }

  .section-split .split_title {
    margin-bottom: 50px;
  }

  .section-split .split_label {
    display: inline-block;
    margin-right: 30px;

    font-size: 56px;
    line-height: 56px;
  }

  .section-split .button {
    margin-top: 4px;
    margin-bottom: 0;
  }

/*****************************************************************************/
/* Testimonials */
/*****************************************************************************/
.section-testimonials {}
  .section-testimonials .list-cards + .section_link {
    text-align: center;
  }
    .section-testimonials .list-cards + .section_link .button {
      margin: 50px 0;

      @include breakpoint-lte(medium) {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
