/*****************************************************************************/
/* Base */
/*****************************************************************************/
.sideNavBlock {
  margin-bottom: 20px;
  padding: 20px;

  border: 1px solid #e0e0e0;

  > *:last-child,
  > *:last-child p {
    margin-bottom: 0;
  }
}
  .sideNavBlock .side_title {
    margin-bottom: 10px;

    font-weight: 700;
  }

  .sideNavBlock .side_text p {
    line-height: 26px;
  }

  .sideNavBlock .side_imageContainer {
    margin-bottom: 15px;
  }
    .sideNavBlock .side_imageContainer img {
      width: 100%;
    }
