/*****************************************************************************/
/* Base */
/*****************************************************************************/
.stripline {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #f4f4f4;

  @include form-text-inputs() {
    margin-bottom: 0;
  }

  select {
    margin-bottom: 0;
  }
}
  .stripline .row-flex {
    align-items: center;

    @include breakpoint-lte(medium) {
      flex-direction: column;
    }
  }

  .stripline label {
    margin-left: auto;

    @include breakpoint-lte(medium) {
      margin-right: auto;
      margin-bottom: 10px;
    }
  }
