{% extends 'master/_base.swig' %}

{% block interiorHeaderContainer %}{% endblock %}

{% block contentContainer %}
  <section class="section section-hero mt-0">
    <div class="section_imageContainer"></div>

    <div class="section_content">
      <div class="row">
        <div class="large-12 large-centered columns">
          <h1 class="section_title">Make this week bring you a cash windfall, it’s never been so easy</h1>

          <h4 class="section_subTitle">Get fast cash for the things that sit around in cupboards for years</h4>
        </div>
      </div>
    </div>

    <div class="section_carouselControls">
      <ul class="list">
        <li class="list_item">
          <a href="#">
            <img src="/assets/img/carousel-control.png" alt=""/>
          </a>
        </li>

        <li class="list_item">
          <a href="#">
            <img src="/assets/img/control-1.png" alt=""/>

            <div class="item_content">
              <p class="item_text">Cameras</p>
            </div>
          </a>
        </li>

        <li class="list_item">
          <a href="#">
            <img src="/assets/img/control-2.png" alt=""/>

            <div class="item_content">
              <p class="item_text">Things</p>
            </div>
          </a>
        </li>

        <li class="list_item">
          <a href="#">
            <img src="/assets/img/control-3.png" alt=""/>

            <div class="item_content">
              <p class="item_text">Jewlery</p>
            </div>
          </a>
        </li>

        <li class="list_item">
          <a href="#">
            <img src="/assets/img/control-4.png" alt=""/>

            <div class="item_content">
              <p class="item_text">Trains</p>
            </div>
          </a>
        </li>

        <li class="list_item">
          <a href="#">
            <img src="/assets/img/control-5.png" alt=""/>

            <div class="item_content">
              <p class="item_text">Utensils</p>
            </div>
          </a>
        </li>

        <li class="list_item">
          <a href="#">
            <img src="/assets/img/control-6.png" alt=""/>

            <div class="item_content">
              <p class="item_text">Knives</p>
            </div>
          </a>
        </li>

        <li class="list_item">
          <a href="#">
            <img src="/assets/img/control-7.png" alt=""/>

            <div class="item_content">
              <p class="item_text">Pens</p>
            </div>
          </a>
        </li>

        <li class="list_item">
          <a href="#">
            <img src="/assets/img/carousel-control.png" alt=""/>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="section section-centered">
    <div class="row">
      <div class="large-10 large-centered columns">
        <h3 class="section_title">We know life can be tricky. So we've made the whole deal quick, simple and hassle free.</h3>
      </div>

      <div class="large-14 large-centered columns">
        <ul class="list list-cards hasSteps mt-40 mb-40">
          <li class="list_item">
            <div class="card card-icon card-borderless">
              <div class="card_icon">
                <i class="fa-3x fa fa-envelope-o"></i>
              </div>

              <h5 class="card_title">Receive your pack</h5>

              <div class="card_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
              </div>
            </div>
          </li>

          <li class="list_item">
            <div class="card card-icon card-borderless">
              <div class="card_icon">
                <i class="fa-3x fa fa-comment-o"></i>
              </div>

              <h5 class="card_title">We make you a cash offer</h5>

              <div class="card_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
              </div>
            </div>
          </li>

          <li class="list_item">
            <div class="card card-icon card-borderless">
              <div class="card_icon">
                <i class="fa-3x fa fa-gbp"></i>
              </div>

              <h5 class="card_title">Receive your payment</h5>

              <div class="card_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
              </div>
            </div>
          </li>
        </ul>

        <div class="section_link">
          <a href="#" class="button">Get started now</a>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-centered isBrand hasImage">
    <div class="row">
      <div class="large-10 large-centered columns">
        <h3 class="section_title">Cash in now with the cow, it’s free.</h3>

        <p class="section_text mb-40">The Vintage Cash Cow service is the first of its kind. Finally you can get fast access to cash tied up in old items that are shut away in cupboards, usually gathering dust. We cover the cost of posting the items into us and we take no fee’s or commission from the offer prize. The entire offer is paid to you.</p>

        <a href="#" class="section_button button hasIcon play">Watch our video</a>
      </div>
    </div>
  </section>

  <section class="section section-centered">
    <div class="row">
      <div class="large-12 large-centered columns">
        <h3 class="section_title">Getting your cash</h3>

        <p class="section_text">It couldn’t be easier. When we send you an offer, you choose from. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>

      <div class="large-14 large-centered columns">
        <ul class="list list-cards mt-40 mb-40">
          <li class="list_item">
            <div class="card card-icon card-borderless">
              <div class="card_icon">
                <i class="fa-3x fa fa-credit-card"></i>
              </div>

              <h5 class="card_title">Same day bank transfer</h5>

              <div class="card_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
              </div>
            </div>
          </li>

          <li class="list_item">
            <div class="card card-icon card-borderless">
              <div class="card_icon">
                <i class="fa-3x fa fa-money"></i>
              </div>

              <h5 class="card_title">Cheque in the post</h5>

              <div class="card_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
              </div>
            </div>
          </li>

          <li class="list_item">
            <div class="card card-icon card-borderless">
              <div class="card_icon">
                <i class="fa-3x fa fa-paypal"></i>
              </div>

              <h5 class="card_title">PayPal instant payment</h5>

              <div class="card_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
              </div>
            </div>
          </li>
        </ul>

        <div class="section_link">
          <a href="#" class="button">Get started now</a>
        </div>
      </div>
    </div>
  </section>

  {% include 'sections/_section-itemsWeBuy.swig' %}

  {% set section = {title: 'Hear from our happy customers', text: 'Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus.'} %}
  {% include 'sections/_section-centered.swig' with section only %}

  {% include 'sections/_section-testimonials.swig' %}

  {% set coloredPanel = {text: 'We pride ourselves on operating a fast, friendly and efficient service. We have a dedicated help centre that can guide you through any questions you may have.', button: 'Open help centre', className: 'isRed'} %}
  {% include 'sections/_section-coloredPanel.swig' with coloredPanel only %}
{% endblock %}
